<!DOCTYPE html>
<html>
  <body>
    <p>This is the Martini-Sessionauth example</p>
    <a href="/view_poster">View Your Own Poster</a><br/>
    <a href="/add_poster">Post A New Poster</a><br/>
  </body>
</html>
