<html>
<div align="middle">
	<div>
		<img src="{{.Image}}" />
	</div>
	<div>
		Title: {{.Title}}<br/>
		Location: {{.Location}}<br/>
		Start: {{.Start}}<br/>
		End: {{.End}}<br/>
		Info: {{.Info}}<br/>
	</div>
</div>
</html>
