<!DOCTYPE html>
<html>
<body>
<p>This is a private link!</p>
<p> Hello {{ .Username }}</p>
<form method="POST" action="/subscribe">
<input type="text" name="email" />
<input type="checkbox" placeholder="Tag" name="talk" value="talk"/><br/>
<input type="checkbox" placeholder="Tag" name="show" value="show"/><br/>
<input type="checkbox" placeholder="Tag" name="free_food" value="free_food"/><br/>
<button>Post</button>
</form>
<a href="/logout">Logout</a><br/>
</body>
</html>
